body {
  background: url("https://images.unsplash.com/photo-1624704200567-760cf26ae848?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-card .card {
  margin: auto;
  margin-top: 50px;
}

.login-card .card input {
  border-radius: 25px;
  border: 1px solid rgb(104, 47, 238);
}
.login-card .card input:focus {
  border-radius: 25px;
  border: 1px solid rgb(104, 47, 238);
  box-shadow: none;
}
.login-card .card button {
  color: #ffff;
  border-radius: 25px;
  background: #13105d;
  box-shadow: none;
  width: 8em;
  margin-right: 15px;
}

.form-control {
  border: 1px solid rgb(201, 158, 245);
  border-radius: 25px;
}
.form-control:focus {
  border: 1px solid blueviolet;
  box-shadow: none;
}
.save-button {
  margin: auto;
  align-self: baseline;
  color: #ffff;
  width: 40%;
  height: 2.2em;
  background: #13105d;
  border-radius: 25px;
  border: none;
  font-weight: 700;
}
.Background {
  height: 100vh;
  width: 100vw;
  background-color: #13105d;
}

.ProfileCard {
  width: 350px;
  border-radius: 20px !important;
  border: none !important;
}

.ProfileCardBody {
  padding-top: 3.5rem !important;
  padding-bottom: 2rem !important;
}

.ProfileCardBackgroundImage {
  width: 350px;
  height: 140px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.ProfileCardImage {
  width: 96px !important;
  height: 96px !important;
  margin: auto;
  position: absolute;
  top: 84px;
  left: 127px;
  border: 5px white solid;
  border-radius: 48px !important;
}

.TextMuted {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.TextBold {
  font-size: 18px;
  font-weight: 700;
}

.CardFooter {
  background-color: #13105d !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.FooterP {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
